
@{
    ViewBag.Title = "Danh sách đồ án";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<div id="container">
    <!-- ################################################################################################ -->
    <div id="gallery">
        <section>
            <figure>
                <h2>Danh sách đồ án khoa Hệ thống thông tin</h2>
                <ul class="clear">
                    <li class="one_fifth first">
                        <a href="#"><img src="../images/demo/gallery.gif" alt="">Quản lý kí túc xá</a>
                    </li>
                    <li class="one_fifth">
                        <a href="#"><img src="../images/demo/gallery.gif" alt="">Quản lý kí túc xá</a>
                    </li>
                    <li class="one_fifth">
                        <a href="#"><img src="../images/demo/gallery.gif" alt="">Quản lý kí túc xá</a>
                    </li>
                    <li class="one_fifth">
                        <a href="#"><img src="../images/demo/gallery.gif" alt="">Quản lý kí túc xá</a>
                    </li>
                    <li class="one_fifth">
                        <a href="#"><img src="../images/demo/gallery.gif" alt="">Quản lý kí túc xá</a>
                    </li>
                    <li class="one_fifth first">
                        <a href="#"><img src="../images/demo/gallery.gif" alt="">Quản lý kí túc xá</a>
                    </li>
                    <li class="one_fifth">
                        <a href="#"><img src="../images/demo/gallery.gif" alt="">Quản lý kí túc xá</a>
                    </li>
                    <li class="one_fifth">
                        <a href="#"><img src="../images/demo/gallery.gif" alt="">Quản lý kí túc xá</a>
                    </li>
                    <li class="one_fifth">
                        <a href="#"><img src="../images/demo/gallery.gif" alt="">Quản lý kí túc xá</a>
                    </li>
                    <li class="one_fifth">
                        <a href="#"><img src="../images/demo/gallery.gif" alt="">Quản lý kí túc xá</a>
                    </li>
                    <li class="one_fifth first">\
                        <a href="#"><img src="../images/demo/gallery.gif" alt="">Quản lý kí túc xá</a>
                    </li>
                    <li class="one_fifth">
                        <a href="#"><img src="../images/demo/gallery.gif" alt="">Quản lý kí túc xá</a>
                    </li>
                    <li class="one_fifth">
                        <a href="#"><img src="../images/demo/gallery.gif" alt="">Quản lý kí túc xá</a>
                    </li>
                    <li class="one_fifth">
                        <a href="#"><img src="../images/demo/gallery.gif" alt="">Quản lý kí túc xá</a>
                    </li>
                    <li class="one_fifth">
                        <a href="#"><img src="../images/demo/gallery.gif" alt="">Quản lý kí túc xá  </a>
                    </li>
                </ul>
                <figcaption >
                    <p>Tất cả các bạn sinh viên đều được tham khảo cũng như xây dựng ý tưởng để thực hiện đồ án một cách tốt nhất.</p>
                    <p>Trên đây là những đồ án đã, đang và sẽ thực hiện cảu các sinh viên khoa Hệ thống thông tin trường Đại học Kinh Tế - Luật ĐHQG tp. Hồ Chí Minh.</p>
                </figcaption>
            </figure>
        </section>
        <!-- ####################################################################################################### -->
        <nav class="pagination">
            <ul>
                <li class="prev"><a href="#">&laquo; Previous</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li class="splitter"><strong>&hellip;</strong></li>
                <li><a href="#">6</a></li>
                <li class="current"><strong>7</strong></li>
                <li><a href="#">8</a></li>
                <li class="splitter"><strong>&hellip;</strong></li>
                <li><a href="#">14</a></li>
                <li><a href="#">15</a></li>
                <li class="next"><a href="#">Next &raquo;</a></li>
            </ul>
        </nav>
    </div>
    <!-- ################################################################################################ -->
    <div class="clear"></div>
</div>


