
@{
    ViewBag.Title = "GopY";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div id="container">
    <div id="contact" class="clear">
        <div class="one_half first">
            <div id="respond">
                <h2>Bạn có đóng góp gì cho khoa về việc quản lý đồ án sinh viên?</h2>
                <form class="rnd5" action="#" method="post">
                    <div class="form-input clear">
                        <label class="one_half first" for="author">
                            Họ và tên <span class="required">*</span><br>
                            <input type="text" name="author" id="author" value="" size="22">
                        </label>
                        <label class="one_half" for="email">
                            Email <span class="required">*</span><br>
                            <input type="text" name="email" id="email" value="" size="22">
                        </label>
                    </div>
                    <div class="form-message">
                        <textarea name="message" id="message" cols="25" rows="10"></textarea>
                    </div>
                    <p>
                        <input type="submit" value="Gửi">
                        &nbsp;
                        <input type="reset" value="Xóa">
                    </p>
                </form>
            </div>
        </div>
        <div class="one_half">
            <div class="map push50"><img src="~/images/demo/slider/Slide2.png" alt=""></div>
            <section class="contact_details clear">
                <h2>Cảm ơn sự đóng góp của bạn với khoa, khoa sẽ ghi nhận và phát triển phục vụ cho sinh viên một cách thuận lợi và hiệu quả nhất!</h2>
                <div class="one_half first">
                    <address>
                        Trường Đại học Kinh Tế - Luật ĐHQG Tp.Hồ Chí Minh<br>
                        Khoa Hệ Thống Thông Tin &amp; Number<br>
                        Linh Xuân quận Thủ Đức Tp. Hồ Chí Minh<br>
                    </address>
                </div>
                <div class="one_half">
                    <ul class="list none">
                        <li>Tel: xxxxx xxxxxxxxxx</li>
                        <li>Fax: xxxxx xxxxxxxxxx</li>
                        <li>Email: <a href="http://is.uel.edu.vn">is.uel.edu.vn</a></li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
    <div class="clear"></div>
</div>

